In [92]:
import pandas as pd
import numpy as np
import faker as fk
import random
import time
from datetime import datetime

In [93]:
number_of_transactions = 500
number_of_phone_numbers = 20

In [94]:
str(int(random.random()*1000000))

'610673'

In [95]:
# Generating transactions
prefix=['0'+str(i) for i in range(750,794)]
phone_numbers=[j for j in [random.choice(prefix)+str(int(random.random()*1000000)) for i in range(number_of_phone_numbers)] if len(j)>9]
transaction_type = ['send','buy','withdraw','paybill', 'fees', 'deposit']
buy_categories=['airtime','data']
paybill_categories=['water','tv','donation','electricity']

In [96]:
def randomDate(start, end):
    frmt = '%d-%m-%Y %H:%M:%S'

    stime = time.mktime(time.strptime(start, frmt))
    etime = time.mktime(time.strptime(end, frmt))

    ptime = stime + random.random() * (etime - stime)
    dt = datetime.fromtimestamp(time.mktime(time.localtime(ptime)))
    return dt

In [97]:
transactions=[]
for transaction in range(number_of_transactions):
    idd=str(transaction)
    user = random.choice(phone_numbers)
    transType=random.choice(transaction_type)
    if transType=='buy':
        category=random.choice(buy_categories)
    elif transType=='paybill':
        category=random.choice(paybill_categories)
    else:
        category=''
        
    if transType=='send':
        send_to = random.choice(phone_numbers)
    else:
        send_to = ''
        
    if transType=='withdraw':
        withdraw_from = random.choice(phone_numbers)
    else:
        withdraw_from = ''
        
    if transType == 'deposit':
        deposit_from = random.choice(phone_numbers)
    else:
        deposit_from = ''
        
    amount = round(random.randint(0,100000000)/random.randint(1,1000),2)
    
    timestamp = randomDate("20-01-2018 13:30:00", "30-10-2020 04:50:34")
    
    transactions.append([idd,user,transType,category,amount,send_to,withdraw_from,deposit_from,timestamp])
cols= ['id','user','transaction type','category','amount','send to','withdraw from','deposit from','timestamp']

In [98]:
data=pd.DataFrame(transactions)
data.columns=cols

In [99]:
data.head()

,id,user,transaction type,category,amount,send to,withdraw from,deposit from,timestamp
0,0,0752215126,deposit,,14317.49,,,0774796872,2018-12-11 18:13:41
1,1,0773702333,withdraw,,6314909.62,,0785128460,,2019-02-14 00:10:03
2,2,0770122536,fees,,60918.57,,,,2018-11-02 10:49:55
3,3,0752221556,deposit,,73532.04,,,0770122536,2018-05-01 16:31:01
4,4,0770122536,withdraw,,212315.66,,0773315944,,2020-03-05 07:43:26

In [100]:
data.shape[0]

500

In [101]:
data.to_csv('mobile_money_synthetic_data.csv')