In [80]:
import pandas as pd
import numpy as np
import faker as fk
import random
import time
from datetime import datetime

In [ ]:
number_of_transactions = 500
number_of_phone_numbers = 10

In [67]:
str(int(random.random()*1000000))

'182011'

In [68]:
# Generating transactions
prefix=['0'+str(i) for i in range(750,794)]
phone_numbers=[j for j in [random.choice(prefix)+str(int(random.random()*1000000)) for i in range(5000)] if len(j)>9]
transaction_type = ['send','buy','withdraw','paybill', 'fees', 'deposit']
buy_categories=['airtime','data']
paybill_categories=['water','tv','donation','electricity']

In [84]:
def randomDate(start, end):
    frmt = '%d-%m-%Y %H:%M:%S'

    stime = time.mktime(time.strptime(start, frmt))
    etime = time.mktime(time.strptime(end, frmt))

    ptime = stime + random.random() * (etime - stime)
    dt = datetime.fromtimestamp(time.mktime(time.localtime(ptime)))
    return dt

In [85]:
transactions=[]
for transaction in range(number_of_transactions):
    idd=str(transaction)
    user = random.choice(phone_numbers)
    transType=random.choice(transaction_type)
    if transType=='buy':
        category=random.choice(buy_categories)
    elif transType=='paybill':
        category=random.choice(paybill_categories)
    else:
        category=''
        
    if transType=='send':
        send_to = random.choice(phone_numbers)
    else:
        send_to = ''
        
    if transType=='withdraw':
        withdraw_from = random.choice(phone_numbers)
    else:
        withdraw_from = ''
        
    if transType == 'deposit':
        deposit_from = random.choice(phone_numbers)
    else:
        deposit_from = ''
        
    amount = round(random.randint(0,100000000)/random.randint(1,1000),2)
    
    timestamp = randomDate("20-01-2018 13:30:00", "30-10-2020 04:50:34")
    
    transactions.append([idd,user,transType,category,amount,send_to,withdraw_from,deposit_from,timestamp])
cols= ['id','user','transaction type','category','amount','send to','withdraw from','deposit from','timestamp']

In [86]:
data=pd.DataFrame(transactions)
data.columns=cols

In [89]:
data.head()

,id,user,transaction type,category,amount,send to,withdraw from,deposit from,timestamp
0,0,0778416603,withdraw,,9941.98,,0765561822,,2019-03-25 03:31:16
1,1,0758935834,buy,data,3020.64,,,,2019-04-26 07:51:38
2,2,0766963194,fees,,52896.59,,,,2018-12-18 06:41:44
3,3,0776909008,fees,,143997.45,,,,2020-02-24 12:11:32
4,4,0788312297,paybill,donation,129764.21,,,,2018-10-09 05:24:54

In [90]:
data.shape[0]

500000

In [91]:
data.to_csv('mobile_money_synthetic_data.csv')